{%extends 'base.html'%}
{% load static %}
{% block content %}
{% for photo in photos %}
<div class="container">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="{{photo.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{photo.image_name}}</h5>
                <a href="{% url 'photo_detail' photo.id %}" class="btn btn-primary">More Details</a>
            </div>
        </div>
{% endfor %}

</div>


{% endblock %}