body
{
    background-color: #000;
    color: #fff;
}
.figure
{
    padding-bottom: 2%;
}
img
{
    border-image: 20%;
    width: 600px;
    height: 500px;
    transition: 0.5s;
}
/* #figure:hover{
    width: 200px;
    height: 350px;
    opacity: 0.5;
} */